/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-black: #231F20;
  --basic-dark-grey: #333333;
  --basic-blue: #81B3D3;
  --basic-sky-blue: #81B3D2;
  --basic-white: #FFFFFF;
  --basic-brown: #766458;
  --basic-light-brown: #766357;
  --basic-light-grey: #F2F2F2;
  --basic-metallic: #A9A9A9;
  --basic-grey: #CACACA;
  --basic-asphalt: #666666;
  --basic-dark-blue: #669EC0;
  --basic-extra-blue: #5496BD;
  --basic-dark-brown: #604E43;
  --basic-extra-brown: #503E33;
  --basic-dark-white: #E5E5E5;
  --basic-deep-grey: #EBEBEB;
  --basic-light-purple: #BDBBBC;
  --basic-moderate-grey: #EEEEEE;
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main header */

.main-header {
  margin-bottom: 62px;
  width: 1200px;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr min-content;
  margin: 0 auto;
  padding: 0 10px;
}

/* Logo */

.main-header-logo {
  justify-self: center;
}

/* Navigation */

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-link {
  color: var(--basic-black);
}

.navigation-selected-link {
  color: var(--basic-light-brown);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--basic-sky-blue);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.features {
  text-align: center;
}

.description-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.description-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.features-head {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.feature-item h3 {
  font-size:21px;
  line-height: 21px;
}

.special-feature-item {
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
}


.feature-item-special-head {
  color: var(--basic-white);
}

.feature-item-extra {
  background-color: var(--basic-moderate-grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recomendation-list {
  list-style: none;
  color: var(--basic-dark-grey);
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recomendation-item h3 {
  font: size 21px;
  line-height: 21px;
}

.search-for-housing {
  text-align: center;
}

.search-for-housing-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

/* Catalog */

.filters {
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.price {
  justify-self: end;
}


.filter-type {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-option {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filter-list {
  list-style: none;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr min-content min-content;
}

.sorting-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-list {
  list-style: none;
}

.sorting-selected-link {
  color: var(--basic-sky-blue);
}

.sorting-link {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-sky-blue);
  color: var(--basic-black);
}

.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hotel-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.housing-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark-grey);
}

.rating-name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--basic-light-grey);
  color: var(--basic-asphalt);
}

.rating {
  justify-self: end;
}

.list-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-sky-blue);
  border: none;
  padding-left: 18px;
  padding-right: 16px;
}

.booking-button {
  background-color: var(--basic-light-brown);
  padding-left: 16px;
  padding-right: 17px;
}

/* Footer */
.contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.contacts-phone {
  color: var(--basic-black);
  width: 440px;
}

.footer-social {
  text-align: center;
}

.footer-social-list {
  list-style: none;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-copyright {
  max-width: 400px;
  margin: 0;
  justify-self: end;
}

