/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --footer-white: rgba(255, 255, 255, 0.9);
  --special-black: rgba(0, 0, 0, 0.3);
  --basic-black: #000000;
  --basic-light-black: #231F20;
  --basic-dark-grey: #333333;
  --basic-blue: #81B3D3;
  --basic-sky-blue: #81B3D2;
  --basic-white: #FFFFFF;
  --basic-brown: #766458;
  --basic-light-brown: #766357;
  --basic-light-grey: #F2F2F2;
  --basic-metallic: #A9A9A9;
  --basic-grey: #CACACA;
  --basic-asphalt: #666666;
  --basic-dark-blue: #669EC0;
  --basic-extra-blue: #5496BD;
  --basic-dark-brown: #604E43;
  --basic-extra-brown: #503E33;
  --basic-dark-white: #E5E5E5;
  --basic-deep-grey: #EBEBEB;
  --basic-light-purple: #BDBBBC;
  --basic-moderate-grey: #EEEEEE;
  --booking-shadow: #d9d9d9;
  --special-white: rgba(255, 255, 255, 0.3);
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main header */

.main-header {
  margin-bottom: 62px;
  width: 1200px;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr min-content;
  margin: 0 auto;
  padding: 0;
}

/* Logo */

.main-header-logo {
  position: absolute;
  left: 605px;
}

/* Navigation */

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);

}

.site-navigation {
  list-style: none;
  margin: 0;
  padding-left: 73px;
  padding-right: 72px;
  padding-top: 14px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.site-navigation-link {
  color: var(--basic-black);
}

.navigation-selected-link {
  color: var(--basic-light-brown);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--basic-sky-blue);
}

.site-navigation-link:active {
  color: var(--special-black);
}

.navigation-photo {
  position: relative;
  right: 100px;
}

.navigation-map {
  position: relative;
  left: 87px;
}

.shadow-block {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow:
  -2px 0 5px -3px #34495e,
  2px 0 5px -3px #34495e;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.welcome-text {
  position: absolute;
  left: 446px;
  top: 132px;
}

.frame {
  position: absolute;
  top: 508px;
}

.features {
  text-align: center;
}

.features-head {
  position: relative;
  top: 14px;
}

.features-head-text {
  position: relative;
  bottom: 5px;
}

.feature-item-special-head {
  position: relative;
  bottom: 18px;
  font-size:21px;
  line-height: 21px;
}

.number-1 {
  position: relative;
  bottom: 11px;
}

.description-1 {
  display: flex;
  margin-top: 51px;
}

.description-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.description-1-text {
  padding: 20px 50px;
  position: relative;
  top: 20px;
}

.description-2-text {
  padding: 40px 30px;
  order: 1;
}

.description-text-2 {
  position: relative;
  bottom: 15px;
  font-size:21px;
  line-height: 21px;
}

.description-bridge {
  position: relative;
  bottom: 10px;
}

.feature {
  padding-top: 47px;
  padding-bottom: 54px;
}

.features-head {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 67px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item-1 {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 54px;
}

.feature h3 {
  font-size:21px;
  line-height: 21px;
}

.feature-text-head-3 {
  position: relative;
  bottom: 24px;
  right: 33px;
}

.feature-text-number-3 {
  position: relative;
  bottom: 20px;
  right: 33px;
}

.feature-text-3 {
  position: relative;
  bottom: 10px;
  right: 33px;
}

.feature-text-head-4 {
  position: relative;
  bottom: 25px;
  right: 20px;
}

.feature-text-number-4 {
  position: relative;
  bottom: 19px;
  right: 20px;
}

.feature-text-4 {
  position: relative;
  bottom: 10px;
  right: 19px;
}

.feature-text-head-5 {
  position: relative;
  bottom: 25px;
  right: 5px;
}

.feature-text-5 {
  position: relative;
  bottom: 10px;
  right: 5px;
}

.feature-text-number-5 {
  position: relative;
  bottom: 19px;
  right: 5px;
}

.special-feature-item {
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
}


.feature-item-special-head {
  color: var(--basic-white);
}

.feature-item-extra {
  background-color: var(--basic-moderate-grey);
  height: 256px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.recomendation-list {
  list-style: none;
  color: var(--basic-dark-grey);
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 330px;
}

.recomendation-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.recomendation-item {
  padding-top: 60px;
  padding-bottom: 82px;
  text-align: center;
  position: relative;
  right: 20px;
}

.recomendation-image-1 {
  position: relative;
  right: 12px;
  bottom: 1px;
}

.recomendation-image-3 {
  position: relative;
  left: 16px;
  bottom: 10px;
}

.recomendation-head-1 {
  position: relative;
  right: 13px;
  bottom: 4px;
}

.recomendation-head-3 {
  position: relative;
  left: 15px;
  bottom: 7px;
}

.recomendation-text-1 {
  position: relative;
  right: 13px;
  top: 3px;
}

.recomendation-text-2 {
  position: relative;
  top: 4px;
}

.recomendation-text-3 {
  position: relative;
  left: 15px;
  bottom: 3px;
}

.search-for-housing {
  text-align: center;
}

.search-for-housing-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  position: relative;
  top: 23px;
  right: 5px;
}

.search-for-housing-text {
  position: relative;
  top: 28px;
}

.booking-link {
  display:block;
  background-color: var(--basic-light-brown);
  margin-top: 45px;
  margin-right: 315px;
  margin-left: 315px;
  padding: 30px 100px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  position: relative;
  top: 30px;
  }

.booking-link:hover,
.booking-link:focus {
background-color: var(--basic-dark-brown);
}

.booking-link:active {
background-color: var(--basic-extra-brown);
color: var(--special-white);
}

.booking-block-form {
  width: 568px;
  height: 395px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--booking-shadow);
  position: relative;
  left: 315px;
  }

  .block-for-map {
  width: 1200px;
  height: 473px;
  position: relative;
  top: 20px;
  }

  .map {
  width: 1199px;
  height: 594px;
  position: absolute;
  right: 1px;
  z-index: 0;
  }

  .booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 42px;

  }

.check-in-item {
  position: relative;
}

.calendar-check-in {
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.calendar-check-in:hover path,
.calendar-check-in:focus path {
  fill: var(--basic-black);
}

.calendar-check-in:active path {
  fill: var(--basic-sky-blue);
}

.check-in-date-legend {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.check-in-date-value {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 180px;
  margin-left: 20px;
  border: none;
  background-color: var(--basic-light-grey);
}

.check-in-date-value:hover {
  background-color: var(--basic-deep-grey);
}

.check-in-date-value:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-dark-white);
}

.check-out-item {
  position: relative;
}

.calendar-check-out {
  background: none;
  border: none;
  position: absolute;
  right: 7px;
  top: 6px;
}

.calendar-check-out:hover path,
.calendar-check-out:focus path {
  fill: var(--basic-black);
}

.calendar-check-out:active path {
  fill: var(--basic-sky-blue);
}

.check-out-date-legend {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.check-out-date-value {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 180px;
  margin-left: 20px;
  border: none;
  background-color: var(--basic-light-grey);
}

.check-out-date-value:hover {
  background-color: var(--basic-deep-grey);
}

.check-out-date-value:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-dark-white);
}

.adults-number {
  position: relative;
}

.adults-number-legend {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 20px;
}

.adults-number-value {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 114px;
  height: 38px;
  color: var(--basic-black);
  border: none;
  background-color: var(--basic-light-grey);
  text-align: center;
  margin-left: 20px;

}

.adults-minus {
  background: none;
  border: none;
  position: absolute;
  left: 142px;
  top: 8px;
}

.adults-minus:hover rect,
.adults-minus:focus rect {
  fill: var(--basic-black);
}

.adults-minus:active rect {
  fill: var(--basic-sky-blue);
}

.adults-plus {
  background: none;
  border: none;
  position: absolute;
  right: 8px;
  top: 12px;
}

.adults-plus:hover path,
.adults-plus:focus path {
  fill: var(--basic-black);
}

.adults-plus:active path {
  fill: var(--basic-sky-blue);
}

.child-number {
  position: relative;
  right: 15px;
}

.child-number-legend {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  padding-right: 25px;
}

.child-number-value {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 114px;
  height: 38px;
  color: var(--basic-black);
  border: none;
  background-color: var(--basic-light-grey);
  text-align: center;
}

  .child-minus {
  background: none;
  border: none;
  position: absolute;
  left: 74px;
  top: 8px;
}

.child-minus:hover rect,
.child-minus:focus rect {
  fill: var(--basic-black);
}

.child-minus:active rect {
  fill: var(--basic-sky-blue);
}

.child-plus {
  background: none;
  border: none;
  position: absolute;
  right: 12px;
  top: 12px;
}

.child-plus:hover path,
.child-plus:focus path {
  fill: var(--basic-black);
}

.child-plus:active path {
  fill: var(--basic-sky-blue);
}

.booking-form-button {
  font-size: 21px;
  line-height: 26px;
  font-weight:bold;
  width: 458px;
  height: 58px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-sky-blue);
  border: none;

  margin-top: 42px;
}

.booking-form-button:hover,
.booking-form-button:focus {
  background-color: var(--basic-dark-blue);
}

.booking-form-button:active {
  background-color: var(--basic-extra-blue);
  color: var(--special-white);
}

/* Catalog */

.filters {
  height: 217px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  background-image: url(../img/filter-background.png);
}

.search {
  display: flex;
}

.search-block {
  border: none;
  margin-top: 26.5px;
  margin-left: 72px;
}

.search-block2 {
  flex-grow: 1;
  position: relative;
  right: 29px;
  bottom: 10px;
}

.search-block1 {
  position: relative;
  right: 50px;
  bottom: 10px;
}

.square {

}

.price {
  justify-self: end;
}

.price1 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  right: 130px;
  top: 25px;

}

.filter-type {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  top: 9px;
  left: 40px;
}

.filter-option {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-top: 15px;
}

.filter-option label {
  position: relative;
  left: 11px;
  bottom: 7px;
}

.filter-list {
  list-style: none;
}

.filter-item {
  border: none;
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  height: 41px;
  border-radius: 5px;
  right: 140px;
  bottom: 32px;
}

.range-controls .bar {
  width: 316px;
  height: 2px;
  background: #FFFFFF;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  width: 5px;
  height: 5px;
}

.range-controls .toggle-min {
  left: 10px;
}

.range-controls .toggle-max {
  left: 261px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
}

.price-controls {
  width: 314px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  background-image: url(../img/line.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  right: 130px;
  bottom: 11px;
}

.min-price {
  position: relative;
  left: 65px;
  top: 4px;
}

.min-price-value {
  position: relative;
  right: 19px;
}

.max-price {
  position: relative;
  right: 16px;
  top: 4px;
}

.max-price-value {
  position: relative;
  right: 10px;
}

.price-controls input {
  width: 60px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.show-button {
  background: none;
  border: 2px solid white;
  font-size: 14px;
  color:white;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  position: relative;
  bottom: 38px;
  right: 45px;
}

.show-button:hover,
.show-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  height: 86px;
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-dark-white);
  display: flex;
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr min-content min-content;*/
}

.sorting-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  position: relative;
  left: 75px;
  top: 10px;
}

.sorting-list {
  display: flex;
  list-style: none;
  flex-grow: 1;
}

.sorting1 {
  position: relative;
  left: 125px;
  top: 20px;
}

.sorting-link {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-sky-blue);
  color: var(--special-black);
  margin-right: 32px;
  position: relative;
  left: 125px;
  top: 20px;
}

.sorting-link:hover,
.sorting-link:focus {
  color: var(--basic-sky-blue);
}

.sorting-link:active {
  color: var(--basic-black);
  text-decoration: none;
}

.sorting-selected-link {
  color: var(--basic-sky-blue);
  text-decoration: none;
}

.sorting-button-up{
background: none;
border: none;
}

.sorting-button-up:hover path,
.sorting-button-up:focus path {
  fill: var(--basic-black);
}

.sorting-button-up:active path {
  fill: var(--basic-sky-blue);
}

.sorting-button-down{
  background: none;
  border: none;
  }

  .up-down {
  position: relative;
  top: 37px;
  right: 63px;
  }

  .sorting-button-down {
    position: relative;
    right: 3px;
  }

.sorting-button-down:hover path,
.sorting-button-down:focus path {
  fill: var(--basic-black);
}

.sorting-button-down:active path {
  fill: var(--basic-sky-blue);
}

.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name:hover,
.hotel-name:focus {
  color: var(--basic-sky-blue);
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-card {
  position: relative;
  bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hotel-item {
  border-bottom: 1px solid var(--basic-dark-white);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.amara-information,
.desert-information,
.villas-information {
  position: relative;
  top: 22px;
  right: 63px;
}

.photo-of-housing {
  position: relative;
  left: 72px;
  top: 47px;
  margin-bottom: 55px;
  width: 135px;
  height: 90px;
}

.housing-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark-grey);
  position: relative;
  bottom: 15px;
  left: 0px;
}

.min-hotel {
  position: relative;
  left: 37px;
}

.min-motel {
  position: relative;
  left: 62px;
}

.min-apart {
  position: relative;
  left: 18px;
}


.rating-name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--basic-light-grey);
  color: var(--basic-asphalt);
  padding: 3px 15px;
}

.rating {
  justify-self: end;
  position: relative;
  top: 57px;
  right: 70px;

  height: 27px;
}


.list-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-sky-blue);
  border: none;
  padding-left: 18px;
  padding-right: 16px;
  margin-right: 4px;
  position: relative;
  bottom: 12px;
}

.list-button:hover,
.list-button:focus {
  background-color: var(--basic-dark-blue);
}

.list-button:active {
  background-color: var(--basic-extra-blue);
  color: rgba(255, 255, 255, 0.3);
}

.more {
  width: 110px;
  height: 27px;
}

.booking-button {
  background-color: var(--basic-light-brown);
  padding-left: 16px;
  padding-right: 17px;
  width: 142px;
  height: 27px;
}

.booking-button:hover,
.booking-button:focus {
  background-color: var(--basic-dark-brown);
}

.booking-button:active {
  background-color: var(--basic-extra-brown);
  color: rgba(255, 255, 255, 0.3);
}

.modal {
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 1s;
}


/* Footer */
.contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
}

.ht {
  position: relative;

  left: 37px;
}

.contacts {
  position: relative;
  left: 37px;
}

.contacts-phone {
  color: var(--basic-black);
  width: 440px;
  position:relative;
  top: 9px;
}

.footer-social {
  text-align: center;
}

.footer-social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 34px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-dark-blue);
}

.social-button:active {
  background-color: var(--basic-extra-blue);
}

.social-button:active path {
  opacity: 0.3;
}
.main-footer {
  width: 1200px;
  height: 120px;
  position: relative;
  top: 20px;
  background-color: var(--footer-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-copyright {
  max-width: 400px;
  margin: 0;
  justify-self: end;
  position: relative;
  top:23px;
  right: 142px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.copyright {
  position: relative;
  right: 2px;
  bottom: 13px;
}

.copyright-link:hover path,
.copyright-lonk:focus path {
  fill: var(--basic-sky-blue);
}

.copyright-link:active path {
  fill: var(--basic-light-purple);
}

.copyright-link {
  position: relative;
  top: 12px;
  left: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: inherit;
}

.stars1 {
  position: relative;
  bottom: 29px;
  left: 15px;

}

.star {
  margin-left: 3px;
}

.stars2 {
  position: relative;
  bottom: 29px;
  left: 45px;
}

.stars3 {
  position: relative;
  bottom: 29px;
  left: 68px;
}

/* Animations */

@keyframes bounce {
  0% {
  transform: translateY(300px);
  }

  100% {
  transform: translateY(0);
  }
  }
